.post{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;

}

.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar{
    margin-right: 12px;

}

.post__topInfo > h3{
    font-size: medium;

}

.post__topInfo > p{
    font-size: small;
    color: gray;
}

.post__bottom{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__image > img{
    width: 100%;
}

.post__options{
    display: flex;
    justify-content: space-evenly; 
    padding-top: 10px;
    border-top: solid 1px lightgray;
    font-size: medium;
    padding: 15px;
    color: gray;
    cursor: pointer;
}

.post__option{
    display: flex;
     align-items: center;
     padding: 5px;
     flex: 1;

}

.post__option > p{
    margin-left: 10px;
}

.post__option:hover{
     background-color: #eff3f5;
     border-radius: 10px;
}

